<h1>Posts</h1>

<table>
	<tr> 
		<th>Título</th> 
		<th>Texto</th> 
		<th></th>
		<th></th>
	</tr>
	<% @posts.reverse_each do |post| %>
		<tr>
			<td><%= post.title %></td>
			<td><%= post.text %></td>
			<td><%= link_to 'Show', post_path(post) %></td>
    		<td><%= link_to 'Edit', edit_post_path(post) %></td>
    		<td><%= link_to 'Destroy', post_path(post), method: :delete, data: {confirm: '¿Estás seguro?'} %></td>
		</tr>
	<% end %>
</table>

<%= link_to "New Post", new_post_path %>